@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MVC_Task2</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/MVC_Task2.styles.css" asp-append-version="true" />
</head>
<body>
    
    <div class="row col-12 ">
    <nav class="navbar navbar-dark bg-dark navbar-expand-lg  ">
        <div class="container-fluid ">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav ">
                    <lu class="nav">
                        <li><a class="nav-link active" aria-current="page" href="#">Homwe</a></li>
                        <li><a class="nav-link" href="#">employee</a></li>
                        <li><a class="nav-link" href="#">supervisor</a></li>
                       
                    </lu>
                </div>
            </div>
        </div>
    </nav>
   </div>
    <div class="py-5 mx-3 d-flex flex-nowrap justify-content-between">
        <div class="w-auto p-4 border-end">
            <aside>
                <ul class="text-decoration-none list-unstyled">
                   
                    <li>Employee list</li>
                    <li>Supervisors</li>
                    
                </ul>
            </aside>
        </div>
   <div class="container">
        @RenderBody();
   </div>


        <footer class="border-top footer text-muted bg-light p-3">
            <div class="container ">
                &copy; 2023 - MVC_T2 - <a asp-area="" asp-controller="Home" asp-action="Privacy">CompanySD</a>
            </div>
        </footer>









    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
   </body>
    </html>
